body{
    font-family: Arial, sans-serif;
    text-align:center;
}

.products{
    display:flex;
    justify-content:center;
    gap:20px;
}

.product{
    border:1px solid black;
    padding:15px;
    width:200px;
}

button{
    padding:10px;
    cursor:pointer;
}